<% if current_user %>
    <script>
        window.currentUser = {
            "id": <%=current_user.id%>,
            "email": "<%=current_user.email%>",
            "first_name": "<%=current_user.first_name%>",
            "last_name": "<%=current_user.last_name%>"
        };
      </script>
<% end %>

<script type="text/javascript">
    window.newsDots = "<%= image_url("newsDots.png")%>"
    window.newsFiller = "<%= image_url("filler.jpeg")%>"
    window.searchIcon = "<%= image_url("search-icon.png")%>"
    window.frontPageImage = "<%= image_url("Frontpage_image_1.png")%>"
    window.robinhootLogo = "<%= image_url("robinhoot_logo_thin_no_padding.png")%>"
    window.Logo = "<%= image_url("logo.png")%>"
    window.iexcloudAPIKey = "<%= Rails.application.credentials.iexcloud[:api_key] %>"
</script>

<main id="root">If you see this, React is broken!</main>