<!DOCTYPE html>
<html>
  <head>
    <title>Robinhoot</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag%>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

    <script type="text/javascript">
        window.robinhootLogo = "<%= image_url('robinhoot_logo_thin_no_padding.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>